.add-btn{

    button{
        // width: 100px;
        padding-top: 6px;
        padding-bottom: 4px;
        border-radius: 100%;
        -webkit-appearance: none;
        color: white;
        background: rgb(47, 166, 245);
        border: 0;
    }
}