
.sidebar{
    position: absolute;
    display: flex;
    width: 25vw;
    height: 100vh;
    background: #ffffff;
    // padding : 20px;

    .colletions{
        position: relative;
        // top: 20%;
        margin-top: 30%;
        color:#9e9e9e ;
        width: 100%;
        
        ul{
            display: flex;
            flex-direction: column;
         

            
            a{
                
                padding: 20px;
                font-weight: bold;
                transition: .600s ease-in;
                text-decoration: none;
                color: #9e9e9e ;

                i {
                    position: relative;
                    top: 5px;
                    margin-right: 15px;    
                }

               
            }

            a:last-child{
                margin-top: 20rem;
            }

            a:hover{
                background: rgb(66, 91, 255);
                color: #ffffff;
            }

            
        }

        
    }
}
