
h3{
    color: #5f5d5d ;
}

.row{
    
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 1rem;
    padding-top:20px;


    .card-container{
        float: right;
        width:100%;
        height: 150px;
        background: #ffffff;
        padding : 30px;
        border-radius: 8px;
        box-shadow:  1px 1px 10px #eeeeee, -1px -1px 10px #eeeeee;
    }
}